/**********************************/
/* BELOW 944px (labtops) */
/**********************************/

@media(max-width: 59em) {

    .secand-section {
        padding: 5rem;
    }

    .logo {
        margin-top: 1rem;
    }

    .MASUM {
        position: absolute;
        bottom: 19rem;
        left: 0;
        right: 72rem;
    }

    .text-2 {
        font-size: 3em;
        margin: 1.2rem;
    }

    .discribe-tittle-3 {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .pricing {
        display: grid;
        grid-template-columns: 65% 45%;
    }

    .pric-n {
        font-size: 1.6rem;
    }

    .pric-t {
        font-size: 1.4rem;
    }

    .icon-button {
        width: 31rem;
    }

    hr {
        margin: 0 5.4rem;
    }

    .header {
        margin-top: 0;
    }

    /* moblie */

    .btn-mobile-nav {
        display: block;
    }

    .main-nav {
        /* background-color: rgba(255, 255, 255, 0.97); */
        /* background-color: white; */

        background-image:
            linear-gradient(to right bottom,
                rgb(136, 68, 26),
                rgb(13, 27, 102)),
            url('./eating.jpg');
        background-size: cover;
        background-position: center;

        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translatex(100%);

        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        /* hide the navigation */
        /* display: none; */
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        z-index: 2;
    }

    /* .main-link {
        color: #756b6b;

    } */

    .icon-mobile-nav {
        font-size: 1.2rem;
        color: #c7b3b3;
        position: relative;
        z-index: 9999;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translatex(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;

    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-list {
        flex-direction: column;
        gap: 4rem;
    }

    .main-link {
        font-size: 3rem;
        color: #756b6b;
        margin: 0;
        padding: 0;
    }

}

/**********************************/
/* BELOW 704px (smaller labtops) */
/**********************************/

@media(max-width: 44em) {

    .me {
        font-size: 3rem;
    }

    .describe-me {
        font-size: 1.6rem;
    }

    .heroo-img {
        width: 32rem;
        height: 32rem;
    }

    .MASUM {
        position: absolute;
        bottom: 14rem;
        right: 60rem;
    }

    .section-under-header {
        padding: 1.6rem 7.4rem;
    }

    .secand-section {
        padding: 6rem;
        grid-template-columns: 1fr;
        justify-self: center;
    }

    .img-sectio-2 {
        margin-bottom: 1.6rem;
        grid-row: 2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .img-2 {
        width: 32rem;
        height: 34rem;
    }

    .descibe-text-2 {
        margin-bottom: 6rem;
    }

    .text-sectio-2 {
        display: flex;
        align-self: center;
        align-items: center;
        text-align: center;
        justify-content: space-around;
        flex-direction: column;
    }

    .text-2 {
        font-size: 3.8rem;
    }

    .thierd-section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .tittle-3 {
        font-size: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .thierd-section {
        padding: 6rem;
    }

    .discribe-tittle-3 {
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pricing {
        display: grid;
        grid-template-columns: 1fe 1fr;
        gap: 8rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .part-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon-button {
        width: 50rem;
        padding: 2rem 2.4rem;
    }

    .icon-button-2 {
        width: 50rem;
        padding: 2rem 2.4rem;
    }

    .h1-3-q {
        font-size: 2.6rem;
    }

    .h1-3-q-2 {
        font-size: 2.8rem;
    }

    .h1-3-q-3 {
        font-size: 3rem;
    }

    .footer-section {
        padding: 2rem 4.8rem;
    }

    .footer-btn {
        font-size: 2rem;
    }

    .text-f {
        font-size: 1.5rem;
    }


}

/**********************************/
/* BELOW 544px (phones) */
/**********************************/

@media(max-width: 34em) {

    .hero-section {
        padding: 0;
        /* margin-top: 3.4rem; */
        /* padding: 6rem 10rem 0 10rem; */
        display: grid;
        grid-template-columns: 1fr;
    }

    .header {
        padding: 0 3rem;
    }

    .me {
        font-size: 2.8rem;
        margin-top: 4.8rem;
    }

    .MASUM {
        position: absolute;
        bottom: 18rem;
        right: 40rem;
        letter-spacing: 2.4rem;
    }

    .icon-button {
        width: 40rem;
    }

    .icon-button-2 {
        width: 40rem;
    }

    .text-f {
        font-size: 1rem;
    }

    .section-under-header {
        padding: 1.8rem 6rem;
    }

    .text-2 {
        font-size: 3rem;
    }

    .descibe-text-2 {
        font-size: 1.5rem;
    }

    /* .grid {
        padding-bottom: 3rem;
        grid-template-columns: 1fr 1fr;
    } */

    .img-2 {
        height: 28rem;
        width: 28rem;
    }


    .heroo-img {
        height: 28rem;
        width: 28rem;
    }

    .grid {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2.4rem;
    }

    .icon {
        height: 3.2rem;
        width: 3.2rem;
    }


    .text-f {
        font-size: 2rem;
    }

    .footer-btn {
        color: #fff;
        background: none;
        padding: 6px 1rem;
        margin: 1.6rem;
    }

    .text-footer {
        margin: 5rem auto 2rem auto;
    }
}

/**********************************/
/* BELOW 448px (phones) */
/**********************************/

@media(max-width: 28em) {

    .hero-section {
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        /* padding-bottom: 3rem; */
        /* align-items: center; */
        /* height: 50vh; */

    }

    .header {
        padding: 0 2rem;
    }

    .hero-img {
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .heroo-img {
        height: 25rem;
        width: 25rem;
    }

    .icon-button-mo- {
        margin-bottom: 8rem;
    }

    .me {
        font-size: 2.4rem;
        margin-top: 3.2rem;
    }

    .MASUM {
        position: absolute;
        bottom: 9rem;
        right: 34rem;
    }

    .section-under-header {
        padding: 1.8rem 1rem;
    }

    .descibe-text-2 {
        font-size: 1.4rem;
    }

    .secand-section {
        /* border-bottom: 1px solid #999; */
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr;

    }

    .text-2 {
        margin-top: 8rem;
    }

    .img-2 {
        height: 25rem;
        width: 25rem;
        margin-bottom: 8rem;
    }

    .thierd-section {
        padding: 0;
    }

    .tittle-3 {
        margin-top: 8rem;
        font-size: 3.2rem;
    }

    .discribe-tittle-3 {
        font-size: 1.2rem;
    }

    .pric-n {
        font-size: 1.5rem;
    }

    .pric-t {
        font-size: 1.3rem;
    }

    .h1-3 {
        font-size: 1.6rem;
    }

    .icon-button {
        width: 30rem;
        height: 8rem;
    }

    .icon-button-2 {
        width: 30rem;
        height: 8rem;
    }

    hr {
        margin: 0 2.8rem;
    }

    .footer-btn {
        color: #fff;
        background: none;
        padding: 6px 1rem;
        margin-bottom: 1rem;
    }

    .grid {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .text-f {
        font-size: 1.4rem;
    }

    .style {
        border: 1px solid #b49999;
        padding: 2px 2.4Orem;
    }

}